body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #313539;
    color: #bbbbbb;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 100px auto;
    background: #212529;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.section {
    padding: 10px 0;
    border-bottom: 1px solid #b9e722;
}

h1 {
    color: #b9e722;
}

h2 {
    color: #b9e722;
}

a {
    color: #bbbbbb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    text-align: center;
    padding: 20px;
    /* border-top: 1px solid #b9e722; */
}

.footer {
    text-align: center;
    padding: 20px;
    /* border-top: 1px solid #b9e722; */
}

.footer a {
    margin: 0 5px;
    color: #b9e722;
}


pre {
    background-color: #1b1d1e; /* Kod bloğu için koyu arkaplan */
    color: #ffbb01; /* Kod bloğu için çekici bir yazı rengi */
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 10px 0; /* Kod bloğu etrafında boşluk */
}

code {
    font-family: 'Courier New', monospace;
    font-size: 0.9em;
}
